torch
torchvision
torchaudio

accelerate
torchmetrics
tqdm
transformers
diffusers==0.25.0
einops
bitsandbytes
scipy
opencv-python
gradio
fvcore
cloudpickle
omegaconf
pycocotools
basicsr
av
onnxruntime


fastapi 
uvicorn